@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }

body {
    width: 100%;
}

.menu {
    display: flex;
    gap: 1rem;
}

.main-nav {
    position: relative;
}

.menu-item {
    font-weight: 700;
}

.menu-item a:hover {
    color: rgb(86, 151, 0);
    letter-spacing: 1px;
    transition: all ease-in 0.3s;
}

.readmore-btn {
    background-color: rgb(70, 70, 70);
    padding: 12px;
    color: rgb(212, 253, 65);
    border-radius: 25px;
    font-variant: small-caps;
}

.readmore-btn:hover {
    letter-spacing: 1px;
    transition: all ease-in-out 0.3s;
}