@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(212, 253, 65);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
    border-radius: 10px;
  }

h1, h3 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.menu {
    display: flex;
    gap: 1rem;
}

.main-nav {
    position: relative;
}

.menu-item {
    font-weight: 700;
}

.menu-item a:hover {
    color: rgb(86, 151, 0);
    letter-spacing: 1px;
    transition: all ease-in 0.3s;
}

.readmore-btn {
    background-color: rgb(70, 70, 70);
    padding: 4px 14px 4px 14px;
    color: rgb(212, 253, 65);
    border-radius: 25px;
    font-variant: small-caps;
    font-size: 1.2rem;
    align-self: center;
}

.readmore-btn:hover {
    letter-spacing: 1px;
    background-color:rgb(212, 253, 65);
    color: rgb(70, 70, 70);
    transition: all ease-in-out 0.3s;
}

i {
    color: rgb(212, 253, 65);
    font-size: 28px;
    text-align: center;
}